<div class="sidebar" [class]="isCreating ? 'is-creating' : ''">
  <div class="sidebar__element-list">
    <p
      class="sidebar__element button-1"
      [class]="isCreating === item ? 'is-creating' : ''"
      *ngFor="let item of elementTypes"
      (click)="startCreating(item)"
    >Create {{item}}</p>
<!--    <button class="sidebar__element left button-1" routerLink="/">Back to List</button>-->
  </div>

  <div
    class="sidebar__creating-form"
  >
    <app-create-dice-form
      [isCreating]="isCreating === 'dice'"
      (createElement)="createElementEvent('dice', $event)"
    ></app-create-dice-form>
    <app-create-text-form (createElement)="createElementEvent('text', $event)" [isCreating]="isCreating === 'text'"></app-create-text-form>
    <app-create-sit-form (createElement)="createElementEvent('sit', $event)" [isCreating]="isCreating === 'sit'"></app-create-sit-form>
  </div>
</div>
