.sidebar {
  width: calc(100vw - 150px);
  height: 30px;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;

  box-shadow: -10px 1px 10px 1px gray;

  user-select: none;
  transition: .2s;

  &:after {
    content: "";
    width: calc(100% - 10px);
    height: 0;

    position: absolute;
    left: 0;
    top: 30px;

    display: block;

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 82%, rgba(248,254,255,0.6) 98%);

    transition: height 0.2s;
  }
  &.is-creating {
    height: 130px;
    &:after {
      height: 3px;
    }
  }

  &__element-list {
    display: flex;
  }

  &__element {
    width: 20%;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &.is-creating {
      background: black;

      color: white;
    }
  }

}
