<div class="sidebar" [class]="isCreating ? 'is-creating' : ''">
  <div class="sidebar__element-list">
    <p
      class="sidebar__element button-1"
      [class]="isCreating === item ? 'is-creating' : ''"
      *ngFor="let item of elementTypes"
      (click)="startCreating(item)"
    >Create {{item}}</p>
  </div>

  <div
    class="sidebar__creating-form"
  >
    <app-create-dice-form
      [isCreating]="isCreating === 'dice'"
      (createDice)="createElementEvent('dice', $event)"
    ></app-create-dice-form>
    <app-create-text-form [isCreating]="isCreating === 'text'"></app-create-text-form>
    <app-create-sit-form [isCreating]="isCreating === 'sit'"></app-create-sit-form>
  </div>
</div>
