@import "src/styles";

.room-card-creating {
  &__create, &__cancel {
    width: 40%;
    height: 40px;

    position: absolute;
    bottom: 20px;

    margin: 0 10px;

    border: none;
  }

  &__create {
    left: 0;
  }
  &__cancel {
    right: 0;
  }

  &__name {
    width: 70%;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    input {
      width: auto;

      color: $white;
    }
  }

  &__members {
    display: flex;
    justify-content: center;

    input {
      width: 25px;
    }
  }

  input {
    border: none;
    border-bottom: 2px solid $black;

    font-size: 20px;
    text-align: center;
  }

  &__random,
  &__dev {
    width: 70px;

    position: absolute;
    top: 0
  }

  &__dev {
    left: 50px;
  }
  &__random {
    left: 125px;
  }

  &__dev:hover {
    border-bottom: 1px $black solid !important;
    border-right: 1px $black solid !important;
  }
  &__random:hover {
    border: 1px $black solid !important;
    border-top: none !important;
  }
}

.room-card-mask {
  width: 248px;
  height: 248px;

  border: 3px $black dashed;

  font-size: 50px;

  cursor: cell;
}
