.room-card-creating {
  button {
    border: none;

    transition: .3s;
    color: white;
    background: black;
    &:hover {
      background: #f0f0f0;
      color: black;
    }
  }

  &__create, &__cancel {
    width: 40%;
    height: 40px;

    margin: 0 10px;

    position: absolute;
    bottom: 20px;
    border: none;
  }

  &__create {
    left: 0;
  }
  &__cancel {
    right: 0;
  }
  &__create:hover {
    background: lightgreen !important;
  }
  &__cancel:hover {
    background: indianred !important;
  }

  &__name {
    width: 70%;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    input {
      width: auto;
      color: white;
    }
  }

  &__members {
    display: flex;
    justify-content: center;

    input {
      width: 25px;
    }
  }

  input {
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
  }

  &__random,
  &__dev {
    width: 70px;
    position: absolute;
    top: 0
  }

  &__dev {
    left: 50px;
  }
  &__random {
    left: 125px;
  }

  &__dev:hover {
    border-bottom: 1px black solid !important;
    border-right: 1px black solid !important;
  }
  &__random:hover {
    border: 1px black solid !important;
    border-top: none !important;
  }
}

.room-card-mask {
  width: 248px;
  height: 248px;

  border: 3px black dashed;
  font-size: 50px;

  cursor: pointer;
}
