@import "src/styles";

.creating-text-form {
  display: flex;

  &__header {
    font-size: 10px;
    font-style: italic;
    text-align: center;
  }

  &__fake-text-block {
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &:after {
      content: "";
      width: 3px;
      height: 100px;

      position: absolute;
      left: 200px;
      top: 30px;

      display: block;

      background: rgb(0,0,0);

      transition: .2s height;
    }

    &_block {
      width: 150px;
      height: 65px;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid;

      line-height: 12px;
      word-wrap: break-word;

      cursor: not-allowed;
      overflow: auto;

      &.black {
        background: $black;

        color: $white;
      }

      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
      &::-webkit-scrollbar-track {
        border: 2px solid rgb(125, 125, 125);
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(224, 4, 4);
      }

      span {
        font-size: 12px;
        word-wrap: break-word;
      }
    }
  }

  &__text {
    margin: 0 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    textarea {
      width: 150px;
      height: 70px;

      border: 2px solid $black;

      font-size: 12px;
      resize: none;
    }
    span {
      text-align: left;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    text-transform: uppercase;

    p {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      span {
        padding: 0 5px;
      }
    }

    .button {
      width: 80px;
      height: 25px;

      border: solid;

      text-align: center;

      transition-delay: unset;

      &.button-accept {
        border: solid;
      }
    }
  }

  &__devtools {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-style: italic;
  }
}

