<form
  class="create_element_form creating-text-form"
  [class]="isCreating ? 'show' : 'hidden'"
  [formGroup]="textForm"
  (submit)="createElementEvent()"
>
  <section [class]="isCreating ? 'show' : 'hidden'" class="creating-text-form__fake-text-block">
    <div title="Cart with text that is created" class="creating-text-form__header">Cart with text that is created</div>
    <div class="creating-text-form__fake-text-block_block" [class]="textForm.value.blockType === 'black' ? 'black': ''" title="Cart with text that is created">
      <span>{{textForm.value.text}}</span>
    </div>
  </section >

  <section [class]="isCreating ? 'show' : 'hidden'" class="creating-text-form__text">
    <span class="creating-text-form__header">Text:</span>
    <textarea formControlName="text"></textarea>
  </section>
  <section [class]="isCreating ? 'show' : 'hidden'" class="creating-text-form__type">
    <p *ngFor="let type of ['white', 'black', 'custom']">
      <input formControlName="blockType" name="blockType" [value]="type" type="radio">
      <span>{{type}}</span>
    </p>
    <button type="submit" class="button" [class]="textForm.valid ? 'button-accept' : 'button-disable'" [disabled]="!textForm.valid">Create!</button>
  </section>
  <div *ngIf="textForm.value.blockType === 'custom'" class="creating-text-form__devtools">COMING SOON</div>
</form>
