.creating-dice-form {
  display: flex;


  &__fake-dice {
    width: 16%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &:after {
      display: block;
      position: absolute;
      left: 16%;
      top: 30px;
      width: 3px;
      height: 100px;
      background: rgb(0,0,0);
      content: "";
      transition: .2s height;
    }

    &_header {
      font-size: 10px;
      font-style: italic;
      text-align: center;
    }

    &_dice {
      width: 20px;
      height: 20px;

      position: relative;

      user-select: none;
      text-align: center;

      span {
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
        width: 100%;
        height: 10px;

        position: absolute;
        bottom: -10px;
        left: 5px;
        font-size: 10px;
        color: black;
      }
    }

  }

  &__type {
    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Courier New', monospace;

    p {
      display: flex;
      align-items: center;

      span {
        padding: 0 5px;
      }
    }
  }

  &__d {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      input[type = 'number'] {
        width: 30px;
        height: 15px;

        border: none;
        border-bottom: 2px solid black;
        border-radius: 4px;

        font-size: 15px;
        text-align: center;
      }
    }
    button[type = 'submit'] {
      text-align: center;
      width: 80px;
      height: 25px;
      border: solid;

      &:hover {
        background: lightgreen !important;
        color: rgba(100, 100, 100) !important;
      }
    }
  }

  &__devtools {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    font-style: italic;
  }
}

