@import "src/styles";

.enter-username-form {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    margin: 40px 0;

    font-size: 20px;

    span {
      margin-right: 10px;
      text-transform: uppercase;
    }
    p {
      display: inline-block;
      input {
        width: 200px;
        height: 25px;

        border: none;
        border-bottom: 1px solid $black;

        font-size: 22px;
      }
    }
  }

  button[type = 'submit'] {
    width: 150px;
    height: 40px;

    border: none;

    font-size: 25px;
    text-transform: uppercase;

    transition: 0.5s;
  }
}
