/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;

  padding: 0;

  outline: none;

  font-family: 'Courier New', monospace;
}

button {
  cursor: pointer;
}

input[type='radio'] {
  cursor: pointer;
}

.room-card {
  width: 250px;
  height: 250px;

  position: relative;

  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: .3s;
}
.room-card:hover {
  box-shadow: 1px 1px 10px 1px gray;
}

.underline-input {
  position: relative;


  font-size: 24px;
  text-decoration: none;

  cursor: pointer;

  &:after {
    content: "";
    width: 0;
    height: 3px;

    position: absolute;
    right: 0;
    bottom: -1px;


    display: block;

    background-color: black;

    transition: width 0.5s;
  }

  &:focus-within:after {
    content: "";
    width: 100%;
    height: 3px;

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;

    background-color: black;

    transition: width 0.5s;
  }
}

.button {
  background: white;

  border: none;

  color: black;

  transition: .5s;
}

.button-default {
  &:hover {
    background: black;

    color: white;
  }
}

.button-accept {
  &:hover {
    background: lightgreen ;

    color: rgba(100, 100, 100);
  }
}

.button-reject {
  &:hover {
    background: indianred;

    color: rgb(200, 200, 200);
  }
}

.button-disable {
  background: lightgray;

  border: gray solid 1px;

  color: #2f2f2f;

  cursor: not-allowed;

  &:active {
    animation: shake 0.1s cubic-bezier(.1,.05,.13,.5) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.create_element_form {
  padding: 10px 0;

  overflow-x: auto;

  &.hidden {
    height: 0;

    padding: 0;
  }

  .show {
    .creating-dice-form__fake-dice_dice span {
      transition-delay: .1s;
    }
    * {
      opacity: 1;
      transition: .2s;
      transform: translateY(0);
    }
    &:first-child {
      * {
        transition-delay: .2s;
      }
    }
    &:nth-child(2) {
      * {
        transition-delay: .3s;
      }
    }
    &:nth-child(3) {
      * {
        transition-delay: .4s;
      }
    }
  }

  .hidden {
    * {
      transition: .1s;
      opacity: 0 !important;
      transform: translateY(-100%);
      height: 0;
    }
    &:after {
      transition: .2s height;
      height: 0 !important;
    }
  }
}

.cursor-not-allowed {
  cursor: not-allowed;
}
