<div
  class="block-with-text"
  [class]="{
    'editing': element.isEditing && element.player === userService.userName,
    'cursor-not-allowed': element.isEditing && !(element.player === userService.userName)
    }"
  [style]="textareaStyle"
  [style.border]="!element.isEditing ? styleService.borderObjToStr(element.styles.border) : ''"
>
  <span *ngIf="!element.isEditing; else editing">{{ element.value }}</span>

  <ng-template #editing>

    <span class="mask" *ngIf="!(element.player === userService.userName); else editingUser">{{ element.value }}</span>

    <ng-template #editingUser>
      <button (click)="save()" class="button save" [class]="valueChanged ? 'button-default' : 'button-disable'" [disabled]="!valueChanged">Save</button>
      <button (click)="cancel()" class="button button-default cancel">Cancel</button>
      <textarea [(ngModel)]="textValue" autofocus></textarea>
    </ng-template>

  </ng-template>

  <p [title]="element?.player" class="block-with-text__creator-name-label">{{element?.player || ''}}</p>
</div>


